html, body, #root, #online-gallery, .introduction-wrapper {
    width: 100%;
    height: 100%;
}

#hero-slider {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
  
#hero-slider .hero-slider-item.active {
    opacity: 1;
}
  
#hero-slider .hero-slider-item {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: ease-in-out 1s;
}
  
#hero-slider.load-prev .hero-slider-item {
    z-index: 1;
    /* transform: translate3d(-100%,0,0); */
    transform: translate3d(0,-100%,0);
}
  
#hero-slider.load-next .hero-slider-item {
    z-index: 1;
    /* transform: translate3d(100%,0,0); */
    transform: translate3d(0,100%,0);
}
  
#hero-slider.load-prev .hero-slider-item.prev {
    z-index: 5;
    /* transform: translate3d(100%,0,0); */
    transform: translate3d(0,100%,0);
}
  
#hero-slider.load-next .hero-slider-item.prev {
    z-index: 5;
    /* transform: translate3d(-100%,0,0); */
    transform: translate3d(0,-100%,0);
}
  
#hero-slider.load-prev .hero-slider-item.active {
    z-index: 10;
    /* transform: translate3d(0%,0,0); */
    transform: translate3d(0,0%,0);
}
  
#hero-slider.load-next .hero-slider-item.active {
    z-index: 10;
    /* transform: translate3d(0%,0,0); */
    transform: translate3d(0,0%,0);
}
