@import './fullpage.scss';

.introduction-wrapper {

    .introduction-card {
        width: 100%;
        height: 100%;

        position: relative;

        .card-img {
            opacity: 0.5;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .caption-wrapper {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            .title, .contents {
                font-size: x-large;
                text-align: center;
            }

            .contents {
                margin-top: 30px;
            }
        }
    }
}