.notice-wrapper {
    width: 100%;
    padding-top: 60px;

    .category-wrapper {
        margin: 20px 10px 20px 10px;

        position: relative;
        padding-bottom: 12px;
    
        .line {
            height: 2px;
            position: absolute;
            bottom: 0;
            margin: 10px 0 0 0;
            background: #FF1847;
        }

        ul {
            padding: 0;
            margin: 0;
            list-style: none;
            display: flex;
            justify-content: center;
        }

        li {
            margin: 0 40px 0 0;
            opacity: .4;
            transition: all 0.4s ease;

            &:hover {
                opacity: .7;
            }
    
            &.active {
                opacity: 1;
            }

            &:last-child {
                margin-right: 0;
            }
        }        

        .btn {
            cursor: pointer;
            text-decoration: none;
            color: black;
            text-transform: uppercase;
            display: block;
            font-weight: 600;
            letter-spacing: .2em;
            font-size: 14px;
        }
    }

    .collapsible-list {

        .collapsible-wrapper {
            margin-top: 10px;

            .collapsible {
                background-color: #777;
                color: white;
                cursor: pointer;
                padding: 18px;
                width: 100%;
                border: none;
                text-align: left;
                outline: none;
                font-size: 15px;
            }
            
            .active, .collapsible:hover {
                background-color: #555;
            }
            
            .collapsible:after {
                content: '\002B';
                color: white;
                font-weight: bold;
                float: right;
                margin-left: 5px;
            }
            
            .active:after {
                content: "\2212";
            }
            
            .content {
                padding: 0px 18px;
                max-height: 0;
                overflow: hidden;
                transition: max-height 0.5s ease-out;
                background-color: #f1f1f1;

                p {
                    margin: 20px 0 20px 0;
                }
            }
        }
    }

}