.now-exhibition-wrapper {
    margin-top: 30px;

    .title {
        text-align: center;
        font-size: large;
        font-weight: bold;
        margin-bottom: 20px;
    }

    .card-wrapper {
        width: 100%;
        height: 400px;
        display: flex;
        position: relative;
        overflow: hidden;

        .card-item {
            position: relative;
            width: 25%;
            height: 100%;
            margin-left: 12px;
            margin-right: 12px;
            overflow: hidden;

            .cover-img {
                width: 100%;
                height: 100%;
                border-radius: 20px;
                object-fit: cover;
                transition: 1s ease;
            }

            .caption-wrapper {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                transition: 0.5s ease;
                opacity: 0;

                .caption-text {
                    color: black;
                    font-size: large;
                }
            }

            .cover-img:hover {
                transform: scale(1.2);
                opacity: 0.3;
            }

            .cover-img:hover + .caption-wrapper {
                opacity: 1;
                pointer-events: none;
            }
        }
    }
}