.exhibition-wrapper {
    @import '../loading/masonryLoading.scss';
    @import '../util/cursorScroll.scss';
    
    margin: 60px 1em 0 1em;

    .masonry {
        display: grid;
        grid-gap: 1em;
        grid-template-columns: repeat(auto-fill, minmax(330px,1fr));
        grid-auto-rows: 0;

        .masonry-item {
            cursor: pointer;
            position: relative;
            transition: 2s all;

            .item-img {
                width: 100%;
                border-radius: 10px;
                transition: 2s ease;
            }

            .lazy {
                opacity: 0;
            }

            .caption-wrapper {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                transition: 0.5s ease;
                opacity: 0;
    
                .caption {
                    color: black;
                    font-size: large;
                    font-weight: bold;
                }

                .author {
                    margin-top: 20px;
                }
            }

            .item-img:hover {
                opacity: 0.3;
            }
    
            .item-img:hover + .caption-wrapper {
                opacity: 1;
                pointer-events: none;
            }
        }
    }
}