.batch-note {
    z-index: 20;
    position: absolute;
    bottom: 25%;
    right: 10%;
    width: 35%;
    height: 30%;
    background-color: black;
    color: white;
    transition: 1.5s ease;
    opacity: 1;
    overflow: hidden;
    overflow-y: auto;
    display: grid;

    @mixin fadeText($direction : top, $offset : 2em, $transition: 2s ease-out) {  
        // text-color : dark
        $color: #fff;
      
        // direction : top
        $deg: 180deg;
        $pos: bottom;
        
        $color: #000;
        mix-blend-mode: screen;
      
        &::after {
            padding: 8px;
            background: linear-gradient($deg, transparent, $color $offset) no-repeat $pos center / 100% 100%;
            
            content: '';
            position: absolute;
            top: 0; right: 0; bottom: 0; left: 0;
            pointer-events: none;
            transition: $transition;
        }
        
        &.active::after {
            background-size: 100% 0%;
        }
    }      
     
    .content {
        color: white;
        padding: 12px;
        display: flex;
        justify-content: center;
        align-items: center;
        
        @supports(mix-blend-mode: screen){
           @include fadeText(top, 3rem);
        } 
    }

    .author {
        justify-content: flex-end;
        margin-top: 1em;
        text-align: end;
    }
}

.batch-note.active {
    opacity: 0;
}

