$beforeColor: white;
$afterColor: white;
$mediumblu: #1E272D;

.close-container {
  position: absolute;
  top: 16px;
  right: 16px;

  width: 20px;
  height: 25px;
  cursor: pointer;

  &:hover .leftright {
    transform: rotate(-45deg);
    background-color: $afterColor;
  }

  &:hover .rightleft {
    transform: rotate(45deg);
    background-color: $afterColor;
  }

  &:hover label {
    opacity: 1;
  }

  .leftright{
    height: 2px;
    width: 20px;
    position: absolute;
    margin-top: 12px;
    background-color: $beforeColor;
    transform: rotate(45deg);
    transition: all .3s ease-in;
  }
  
  .rightleft{
    height: 2px;
    width: 20px;
    position: absolute;
    margin-top: 12px;
    background-color: $beforeColor;
    transform: rotate(-45deg);
    transition: all .3s ease-in;
  }
  
  label{
    color: white;
    font-family: Helvetica, Arial, sans-serif; 
    font-size: .6em;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: all .3s ease-in;
    opacity: 0;
  }
}