.exhibition-detail-wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;

    .background-music {
        position: absolute;
        top: 70px;
        right: 1em;
        display: flex;
        z-index: 9;

        div {
            cursor: pointer;
            margin-right: 15px;

        }
    }

    .background-img {
        width: 100%;
        height: 100%;

        .img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .video {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }    

    .batch-wrapper {
        cursor: pointer;
        position: absolute;
        top: 25%;
        left: 5%;
        width: 40%;
        height: 45%;

        .img {
            width: 100%;
            height: 100%;
            object-fit: scale-down;
        }

        .video {
            width: 100%;
            object-fit: scale-down;
        }
    }

    .batch-note {
        position: absolute;
        bottom: 25%;
        right: 10%;
        width: 35%;
        height: 30%;
        background-color: black;
        color: white;

        .note-wrapper {
            width: 100%;
            height: 100%;
            display: grid;
            align-items: center;
            vertical-align: middle;

            div {
                width: 100%;
                text-align: center;
            }
        }
    }

    .artwork-dot {
        position: absolute;
        bottom: 5%;
        left: 50%;
        transform: translate(-50%, -5%);

          /* The dots/bullets/indicators */
        .dot {
            cursor: pointer;
            height: 15px;
            width: 15px;
            margin: 0 6px;
            background-color: #bbb;
            border-radius: 50%;
            display: inline-block;
            transition: background-color 0.6s ease;
        }

        .active, .dot:hover {
            background-color: black;
        }
    }

    @import './modal_wrapper.scss';
}