#modal-wrapper {
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    transform:scale(0);
    z-index: 999;
    background:rgba(0,0,0,.7);
  
    &.six {
        transform:scale(1);
        .modal-background {
          background:rgba(0,0,0,0.0);
          animation: fadeIn .5s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
          .modal {
            background-color:transparent;
            animation: modalFadeIn .5s .8s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
            h2,p,img {
              opacity:0;
              position:relative;
              animation: modalContentFadeIn .5s 1s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
            }
            .modal-svg {
              rect {
                animation: sketchIn .5s .3s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
              }
            }
          }
        }
        &.out {
          animation: quickScaleDown 0s .5s linear forwards;
          .modal-background {
            animation: fadeOut .5s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
            .modal {
              animation: modalFadeOut .5s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
              h2,p,img {
                animation: modalContentFadeOut .5s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
              }
              .modal-svg {
                rect {
                  animation: sketchOut .5s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
                }
              }
            }
          }
        }
    }

    .modal-background {
        width: 100%;
        height: 100%;
        text-align:center;
        vertical-align:middle;

        .modal {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            max-width: 90%;
            max-height: 90%;
            border-radius:3px;
            font-weight:300;

            h2 {
                font-size:25px;
                line-height:25px;
                margin-bottom:15px;
            }

            p {
                font-size:18px;
                line-height:22px;
            }

            img {
                background:rgba(0,0,0,0);
                width: 100%;
                height: 100%;
                object-fit: scale-down;
                transition: 1s ease;
                opacity: 0;
            }

            .modal-svg {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 100%;
                height: 100%;
                
                border-radius:3px;
                
                rect {
                    width: 100%;
                    height: 100%;
                    stroke: white;
                    stroke-width: 3px;
                    stroke-dasharray: 778;
                    stroke-dashoffset: 778;
                }
            }
        }
    }
}
  
.content {
    min-height:100%;
    height:100%;
    background:white;
    position:relative;
    z-index:0;
    h1 {
      padding:75px 0 30px 0;
      text-align:center;
      font-size:30px;
      line-height:30px;
    }
    
}
  
@keyframes fadeIn {
    0% {
      background:rgba(0,0,0,.0);
    }
    100% {
      background:rgba(0,0,0,.7);
    }
}
  
@keyframes fadeOut {
    0% {
      background:rgba(0,0,0,.7);
    }
    100% {
      background:rgba(0,0,0,.0);
    }
}
  
  
@keyframes quickScaleDown {
    0% {
      transform:scale(1);
    }
    99.9% {
      transform:scale(1);
    }
    100% {
      transform:scale(0);
    }
}
  
@keyframes sketchIn {
      0% {
          stroke-dashoffset: 778;
          stroke: white;
      }
      100% {
          stroke-dashoffset: 0;
          stroke: rgba(0,0,0,.0);
      }
}
  
@keyframes sketchOut {
      0% {
          stroke-dashoffset: 0;
          stroke: rgba(0,0,0,.0);
      }
      100% {
          stroke-dashoffset: 778;
          stroke: white;
      }
}
  
@keyframes modalFadeIn {
    0% {
      background-color:transparent;
    }
    100% {
      background-color:rgba(0,0,0,.0);
    }
}
  
@keyframes modalFadeOut {
    0% {
      background-color:rgba(0,0,0,.0);
    }
    100% {
      background-color:transparent;
    }
}
  
@keyframes modalContentFadeIn {
    0% {
      opacity:0;
      top:-20px;
    }
    100% {
      opacity:1;
      top:0;
    }
}
  
@keyframes modalContentFadeOut {
    0% {
      opacity:1;
      top:0px;
    }
    100% {
      opacity:0;
      top:-20px;
    }
}
  
  