.header-menu {
    position: fixed;
    top: 0;
    left: 0;
    height: 60px;
    width: 100%;
    display: flex;
    z-index: 999;

    .gallery-logo {
        display: flex;
        align-items: center;
        vertical-align: middle;
        margin-left: 30px;
        font-size: large;
    }
}

