.header-menu {
    position: fixed;
    top: 0;
    left: 0;
    height: 60px;
    width: 100%;
    display: flex;
    background-color: rgba(255, 255, 255, 0.4);
    z-index: 900;

    .gallery-logo {
        display: flex;
        align-items: center;
        vertical-align: middle;
        margin-left: 30px;
        font-size: large;
    }

    .search {
        position: absolute;
        top: 50%;
        right: 2%;
        transform: translate(-2%, -50%);
        cursor: pointer;
        transition: 0.5s ease;
        opacity: 1;
    }

    .hidden {
        visibility: collapse;
        opacity: 0;
    }
}

