$buttonWidth: 24px;
$buttonHeight: 20px;
$buttonColor: black;
$lineThickness: 2px;
$transitionSpeed: .25s;
$transitionEasing: ease-in-out;
    
.menu-toggle {
    border: none;
    cursor: pointer;
    outline: none;
    position: relative;
    display: block;
    width: $buttonWidth;
    height: $buttonHeight;
    
    background: transparent;
    border-top: $lineThickness solid;
    border-bottom: $lineThickness solid;
    
    color: $buttonColor;
    font-size: 0;
    
    transition: all $transitionSpeed $transitionEasing;

    &:before,
    &:after {
        content: '';
        display: block;
        width: 100%;
        height: $lineThickness;
        
        position: absolute;
        top: 50%;
        left: 50%;
        
        background: currentColor;
        
        transform: translate(-50%, -50%);
        transition: transform $transitionSpeed $transitionEasing;
    } 
}

.menu-toggle:hover {
    color: lighten($buttonColor, 15%);
}

.menu-toggle.is-active {
    border-color: transparent;

    &:before {
        transform: translate(-50%, -50%) rotate(45deg);
    }

    &:after {
        transform: translate(-50%, -50%) rotate(-45deg);
    }
}
