/*** COLORS ***/
$txt-color: black;
$icn-color: black;

/*** STYLES ***/
.search-wrapper {
	transition: 1s ease;

	.search {
		position: absolute;
		top: 50%;
		right: 2%;
		transform: translate(-2%, -50%);
		display: inline-block;
		width: 15px;
		height: 28px;
		box-sizing: border-box;
		margin: 0px 10px 0px 0px;
		padding: 0px 12px 0px 12px;
		border: 1.5px solid $icn-color;
		border-radius: 15px;
		transition: 1s ease;
		cursor: text;
		
		&:after {
			content: "";
			position: absolute;
			width: 1px;
			height: 14px;
			right: -5px;
			top: 19px;
			background: $icn-color;
			border-radius: 10px;
			transform: rotate(-50deg);
			transition: 1s ease;
		}
		
		&.active,
		&:hover {
			width: 250px;
			height: 35px;
			margin-right: 0px;
			
			&:after {
				height: 0px;	
			}
		}
		
		input {
			width: 100%;
			height: 100%;
			border: none;
			box-sizing: border-box;
			font-family: Helvetica;
			font-size: 0.85em;
			color: inherit;
			background: transparent;
			outline-width: 0px;
		}
	}
}