.author-detail-wrapper {

    .zoom{
        overflow: hidden;
    }

    .thumbnail-wrapper {
        width: 100%;
        height: 100vh;

        .main-img {
            width: 100%;
            max-width: 200%;
            height: 100%;
            object-fit: cover;

            position: fixed;
            top: 0%;
            left: 50%;
            transform: translateX(-50%);
        }
    }

    .info-wrapper {
        width: 100%;
        height: 100%;
        padding: 1% 0 5% 0;
        position: relative;
        background: white;
        box-shadow: 0px -10px 60px rgba(0,0,0,0.25);

        div {
            margin-top: 1em;
            padding-left: 2em;
            padding-right: 2em;
            line-height: 3em;
        }

        .name {
            font-size: xx-large;
            font-weight: bolder;
        }
    }

    .masonry {
        background-color: white;
        display: grid;
        grid-gap: 1em;
        grid-template-columns: repeat(auto-fill, minmax(330px,1fr));
        grid-auto-rows: 0;
        padding-left: 1em;
        padding-right: 1em;

        .masonry-item {
            cursor: pointer;
            position: relative;
            transition: 2s all;

            .item-img {
                width: 100%;
                transition: 2s ease;
            }

            .lazy {
                opacity: 0;
            }

            .caption-wrapper {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                transition: 0.5s ease;
                opacity: 0;
    
                .caption {
                    color: black;
                    font-size: large;
                    font-weight: bold;
                }

                .author {
                    margin-top: 20px;
                }
            }

            .item-img:hover {
                opacity: 0.7;
            }
    
            .item-img:hover + .caption-wrapper {
                opacity: 1;
                pointer-events: none;
            }
        }
    }
}
